* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #e6e1e1;
    --black-color: #242424;
    --secondary-color: #8BC89F;
    --third-color: #0D423A;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--secondary-color);
    opacity: 0.9;
}

#navbar .nav {
    float: left;
    display: block;
    color: var(--black-color);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
}

.logo {
    float: right;
    height: 3em;
}

.visit {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 1.3em;
    width: 8em;
    color: var(--main-color);
}

.visit a {
    position: relative;
    top: 5px;
    text-decoration: none;
    color: var(--main-color);
}

#navbar button {
    float: right;
    background-color: var(--third-color);
    margin: 10px;
    color: var(--main-color);
}

.latte {
    max-width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.8;
}

#subtitle {
    display: flex;
    position: relative;
    top: -330px;
    color: var(--third-color);
    font-size: 1em;
    padding: 10px;
}

h1 {
    position: relative;
    top: -340px;
    font-size: 2.5em;
    color: var(--third-color);
    padding: 10px;
}

h1 .passion {
    color: rgba(124, 71, 35, 1);
}

.description {
    position: relative;
    top: -340px;
    font-size: 1.2em;
    color: var(--third-color);
    font-weight: 800;
    padding: 10px;
}

.explore {
    position: relative;
    top: -340px;
    padding: 10px;
    background-color: var(--third-color);
    color: var(--main-color);
    border-radius: 20px;
    border: 1px solid transparent;
    font-size: 1.2rem;
    margin: 10px;
}

.story {
    position: relative;
    top: -340px;
    padding: 10px;
    background-color: transparent;
    font-size: 1.2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    margin: 10px;
}

.menu {
    position: relative;
    margin: 10px;
    top: -230px;
    text-align: center;
}

.menu h3 {
    font-size: 1.3rem;
    color: var(--third-color);
    padding: 15px;
}

.menu h2 {
    font-size: 2.5rem;
    font-family: "Times New Roman", Times, serif;
    padding: 15px;
}

.menu p {
    font-size: 1rem;
    font-weight: 800;
    opacity: 0.7;
}

article {
    position: relative;
    top: -100px;
    padding: 10px;
}

article h3 {
    color: var(--third-color);
    font-size: 1.5rem;
    padding: 15px;
}

article h2 {
    font-size: 2.5rem;
    font-style: oblique;
}

article h2 span {
    color: var(--third-color);
}

.our-story {
    padding: 15px;
    float: left;
}