* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    flex: 1;
}

:root {
    --main-color: #e6e1e1;
    --black-color: #242424;
    --secondary-color: #8BC89F;
    --third-color: #0D423A;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--secondary-color);
    opacity: 0.9;
}

#navbar .nav {
    float: left;
    display: block;
    color: var(--black-color);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
}

.logo {
    float: right;
    height: 3em;
}

.visit {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 1.3em;
    width: 8em;
    color: var(--main-color);
}

.visit a {
    position: relative;
    top: 5px;
    text-decoration: none;
    color: var(--main-color);
}

#navbar button {
    float: right;
    background-color: var(--third-color);
    margin: 10px;
    color: var(--main-color);
}

.latte {
    max-width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.9;
}

#subtitle {
    display: flex;
    position: relative;
    top: -330px;
    color: var(--secondary-color);
    font-size: 1em;
    padding: 10px;
}

h1 {
    position: relative;
    top: -340px;
    font-size: 2.5em;
    color: var(--secondary-color);
    padding: 10px;
}

h1 .passion {
    color: rgb(229, 144, 25);
}

.description {
    position: relative;
    top: -340px;
    font-size: 1.2em;
    color: var(--secondary-color);
    font-weight: 800;
    padding: 10px;
}

.explore {
    position: relative;
    top: -340px;
    padding: 10px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: -6px 3px 5px -2px #282928;
    font-size: 1.2rem;
    margin: 10px;
    transition: transform .2s;
}

.explore:hover {
    transform: scale(1.1);
}

.story {
    position: relative;
    top: -340px;
    padding: 10px;
    background-color: transparent;
    font-size: 1.2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    margin: 10px;
    color: var(--secondary-color)
}

.menu {
    position: relative;
    margin: 10px;
    top: -230px;
    text-align: center;
}

.menu h3 {
    font-size: 1.3rem;
    color: var(--third-color);
    padding: 15px;
}

.menu h2 {
    font-size: 2.5rem;
    font-family: "Times New Roman", Times, serif;
    padding: 15px;
}

.menu p {
    font-size: 1rem;
    font-weight: 800;
    opacity: 0.7;
}

article {
    position: relative;
    top: -100px;
    padding: 10px;
}

article h3 {
    color: var(--third-color);
    font-size: 1.5rem;
    padding: 15px;
}

article h2 {
    font-size: 2.5rem;
    font-style: oblique;
}

article h2 span {
    color: var(--third-color);
}

.our-story {
    padding: 15px;
    float: left;
}

.flex {
    float: right;
}

.flex h2 {
    font-size: 1.2rem;
}

.origin,
.crafted,
.sustainable {
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    background-color: var(--secondary-color);
    box-shadow: -10px 7px 5px -2px #699878 ;
    transition: transform .2s;
}

.origin:hover,
.crafted:hover,
.sustainable:hover {
    transform: scale(1.1);
}

#coffee-cup,
#heart,
#leaf {
    padding: 10px;
}

.hello {
    position: relative;
    bottom: -230px;
    left: -400px;
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: -6px 3px 5px -2px #282928;
    font-size: 1.2rem;
    margin: 10px;
    transition: transform .2s;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.footer {
    flex: 1;
    list-style: none;
}

.footer p {
    flex-direction: column;
}

.quick-links {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quick-links a {
    text-decoration: none;
    color: var(--black-color);
    margin-right: 10px;
}

.specialty-coffee p span {
    font-size: 1.8em;
    font-weight: 900;
}

.icons {
    padding: 10px;
}

#mug::after {
    content: "  " ;
}

.neighborhood {
    padding-top: 15px;
}

#visit {
}